@font-face {
    font-family: "yg-jalnan";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "JalnanGothic";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    width: 500px;
    height: 100px;
    text-align: center;
    background: purple;
    color: white;
}

nav {
    width: 80%;
    height: 50px;
    border: 0.1rem dotted lightgreen;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav > div {
    width: 150px;
    height: 100%;
    border: 0.1rem dotted lightgreen;
}

nav > div:hover {
    background: gray;
}

section {
    width: 80%;
    height: 500px;
    border: 0.1rem dotted lightgreen;
    margin: 1rem auto;
}

section img {
    height: 100%;
}

.pic_text {
    width: 80%;
    height: 50px;
    border: 0.1rem dotted lightgreen;
    margin: 20 auto;
    line-height: 50px;
    font-size: 1.5rem;
}
