* {
    margin: 3%;
}
.title {
    background: rgb(150, 150, 150);
    width: auto;
    height: 200px;
    border: 2px solid navy;
    line-height: 200px;
    text-align: center;
    font-size: 300%;
}
.parent {
    background: black;
    border: 1px solid black;
    text-align: center;
}
.mainboxall {
    display: inline-block;
    width: 40%;
    height: 200px;
    background-color: skyblue;
    border: 1px solid black;
    text-align: center;
    line-height: 200px;
}
.mainbox0:hover {
    background-color: cyan;
}
.mainbox1:hover {
    background-color: green;
}
.table {
    border: 0px solid black;
}
.table th {
    border: 0px solid black;
    width: 40%;
    height: 50px;
    font-size: 150%;
}
.table tr td {
    border: 0px solid black;
    text-align: center;
}