body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.top {
  border: 0.1rem dotted;
  padding: 1rem;
  text-align: center;
}

.table1 {
  border: 0.1rem dotted;
  width: 90%;
  margin: auto;
}

.table-content {
  width: 5rem;
  height: 5rem;
  border: 0.1rem dotted;
  display: inline-block;
  margin-right: 0.5rem;
}
